body{
    background-image: url(aback.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;


}
.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.about-us-content {
    text-align: center;
}

h1 {
    margin-top: 0;
}

.about-us-content h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.about-us-content p:first-child {
    font-style: italic;
    font-size: 80px;
    margin-bottom: 40px;
}

.our-values{
    text-align: justify;
    margin-top: 40px;
}

.our-values ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.our-values li {
    margin-bottom: 10px;
}

.team-member {
    margin-bottom: 20px;
    text-align: left;
}

.team-member h3 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    text-align: center;
}

