*{
    /* margin:0;
    height:0;
    font-family: "Poppins", sans-serif; */
}
.container{
  margin:auto;
  display:inline-flex;
  width:80%;
  flex-basis:23%;
  padding-top:20px;
 }
.name{
  padding:10px 5px;
  display:flex;
    flex-basis:23%;
    border:2px rgb(0, 195, 255) solid;
    background:rgb(0, 195, 255)

}