*{
  /* margin:0;
  height:0;*/
  font-family: "Poppins", sans-serif; 
}

  .dis-links ul li{
    justify-content: space-evenly;
    display:inline-block;
    list-style:none;
    padding-left:px;
    padding-right:30px;
  position:relative;
  transition:1s;
  padding:30px 10px;
  }
  .dis-links ul li a{
    padding-top:90px;
    padding-right:80px;
    color:white;
    font-weight:400;
    font-size:30px;
    text-decoration:none;
    
  }
  
  .dis-links ul li :hover{
   color: rgb(255, 251, 0);
   text-decoration:none;}

.dis-links{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("flood-bg1.jpg");
  background-position:center;
  margin:0px;
  width:100%;
  background-size:cover;
  padding:90px 0;
  text-align:center;
  border-radius:0px;
padding-top:30px;
  flex:1;
}
.dis-links ul li{
  justify-content: space-evenly;
  display:inline-block;
  list-style:none;
  padding-right:30px;
position:relative;
transition:1s;
padding:30px 10px;
}
.dis-links ul li a{
  padding-top:90px;
  padding-right:80px;
  color:white;
  font-weight:400;
  font-size:30px;
  text-decoration:none;
  
}

.dis-links ul li :hover{
 color: rgb(255, 251, 0);
 text-decoration:none;}
 
 .content{
  margin:90px;
  line-height:30px;
  font-family:Arial, Helvetica, sans-serif;
 }
 .content h1{
  font-size:35px;
  text-align:center;
 }
 .content h4{
  text-align:left;
  font-size: 23px;
 }
 .content h5{
  text-align:center;
  font-size:26px;
  font-weight:400;
 }
 .content ul li{
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 35px;
 }